.gitpod-div {
  position: absolute;
  top: calc(50% + 25px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5bc0de;
  color: white;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  border-radius: 0.25rem;
}

.extension-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border-radius: 0.25rem;
  padding-top: 1rem;
  gap: 8px;
}

.extension-container .input {
  width: auto;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
}

.extension-container .input:focus {
  border: 1px solid #5bc0de;
}

.flex-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 0.5rem;
  margin: -0.5rem;
}

.flex-title h1 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

.flex-title img {
  width: 30px;
  height: 30px;
}

.body-padding {
  padding: 0.5rem;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
